.commerce-mini-cart__update-message {
    display: none;
    font: var(--type-body-2-default-font);
    letter-spacing: var(--type-body-2-default-letter-spacing);
}

.commerce-mini-cart__message-wrapper {
    background-color: var(--color-positive-200);
    border-radius: var(--shape-border-radius-1);
    padding: var(--spacing-xsmall);
    display: none;
    margin-bottom: var(--spacing-small);
}

.commerce-mini-cart__message-wrapper--visible,
.commerce-mini-cart__update-message--visible {
    display: block;
}

.cart-item-promotions {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xsmall);
}

.cart-item-promotions:empty {
    display: none;
}

.cart-item-promotion-label {
    font: var(--type-details-caption-1-font);
    letter-spacing: var(--type-details-caption-1-letter-spacing);
    color: var(--color-positive-800);
}
